In [1]:
import pandas as pd
school = pd.read_csv("schools.csv")

## Which NYC schools have the best math results ?
The best math results are at least 80% of the *maximum possible score of 800* for math.
Save your results in a pandas DataFrame called best_math_schools, including "school_name" and "average_math" columns, sorted by "average_math" in descending order.

In [2]:
best_math_schools = school[["school_name", "average_math"]]
best_math_schools = best_math_schools[80.0 <= best_math_schools["average_math"] / 800 * 100]
best_math_schools = best_math_schools.sort_values("average_math", ascending=False)
best_math_schools = pd.DataFrame(best_math_schools)
print(best_math_schools)

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

## What are the top 10 performing schools based on the combined SAT scores ?
Save your results as a pandas DataFrame called top_10_schools containing the "school_name" and a new column named "total_SAT", with results ordered by "total_SAT" in descending order.

In [3]:
school["total_SAT"] = school["average_writing"] + school["average_reading"] + school["average_math"]
top_10_schools = school[["school_name", "total_SAT"]].sort_values("total_SAT", ascending=False)
top_10_schools = pd.DataFrame(top_10_schools.iloc[0:10])
print(top_10_schools)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

## Which single borough has the largest standard deviation in the combined SAT score ?
Save your results as a pandas DataFrame called largest_std_dev.
The DataFrame should contain one row, with:
"borough" - the name of the NYC borough with the largest standard deviation of "total_SAT".
"num_schools" - the number of schools in the borough.
"average_SAT" - the mean of "total_SAT".
"std_SAT" - the standard deviation of "total_SAT".
Round all numeric values to two decimal places.

In [4]:
largest_std_dev = school.groupby("borough")["total_SAT"].agg(["count", "mean", "std"]).round()
largest_std_dev = largest_std_dev[largest_std_dev["std"] == largest_std_dev["std"].max()]
largest_std_dev = largest_std_dev.rename(columns={"count": "num_schools", "mean": "average_SAT", "std": "std_SAT"})
print(largest_std_dev)

           num_schools  average_SAT  std_SAT
borough
Manhattan           89       1340.0    230.0